<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hema.newretail.backstage.dao.BaseTagEntryMapper" >
  <resultMap id="BaseResultMap" type="com.hema.newretail.backstage.entry.BaseTagEntry" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tagname" property="tagname" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tagname, is_deleted
  </sql>
  <select id="selectNotDelete" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_tag
    where is_deleted = 0 order by id desc
  </select>

  <select id="selectCountByTName" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    count(*)
    from base_tag
    where tagname = #{tagname,jdbcType=VARCHAR}
  </select>
  <select id="selectCountByTNameNotThisId" resultType="java.lang.Integer" parameterType="com.hema.newretail.backstage.common.queryparam.tag.TagCountTagNameCondition" >
    select
    count(*)
    from base_tag
    where id not in (#{id,jdbcType=BIGINT})
    and tagname = #{tagname,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true"   keyProperty="id" parameterType="com.hema.newretail.backstage.entry.BaseTagEntry" >
    insert into base_tag (id, tagname, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{tagname,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hema.newretail.backstage.entry.BaseTagEntry" >
    insert into base_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagname != null" >
        tagname,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tagname != null" >
        #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hema.newretail.backstage.entry.BaseTagEntry" >
    update base_tag
    <set >
      <if test="tagname != null" >
        tagname = #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hema.newretail.backstage.entry.BaseTagEntry" >
    update base_tag
    set tagname = #{tagname,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>