<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hema.newretail.backstage.dao.IngredientBoxMapper" >
  <resultMap id="BaseResultMap" type="com.hema.newretail.backstage.entry.IngredientBox" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="box_code" property="boxCode" jdbcType="INTEGER" />
    <result column="machine_code" property="machineCode" jdbcType="VARCHAR" />
    <result column="geo_hashcode" property="geoHashcode" jdbcType="VARCHAR" />
    <result column="ingredient_id" property="ingredientId" jdbcType="BIGINT" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="max_copies" property="maxCopies" jdbcType="INTEGER" />
    <result column="warn_percent" property="warnPercent" jdbcType="REAL" />
    <result column="box_group_id" property="boxGroupId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, box_code, machine_code, geo_hashcode, ingredient_id, duration, capacity, max_copies, 
    warn_percent, box_group_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_ingredient_box
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_ingredient_box
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hema.newretail.backstage.entry.IngredientBox" >
    insert into base_ingredient_box (id, box_code, machine_code, 
      geo_hashcode, ingredient_id, duration, 
      capacity, max_copies, warn_percent, 
      box_group_id)
    values (#{id,jdbcType=BIGINT}, #{boxCode,jdbcType=INTEGER}, #{machineCode,jdbcType=VARCHAR},
      #{geoHashcode,jdbcType=VARCHAR}, #{ingredientId,jdbcType=BIGINT}, #{duration,jdbcType=INTEGER}, 
      #{capacity,jdbcType=INTEGER}, #{maxCopies,jdbcType=INTEGER}, #{warnPercent,jdbcType=REAL}, 
      #{boxGroupId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hema.newretail.backstage.entry.IngredientBox" >
    insert into base_ingredient_box
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="boxCode != null" >
        box_code,
      </if>
      <if test="machineCode != null" >
        machine_code,
      </if>
      <if test="geoHashcode != null" >
        geo_hashcode,
      </if>
      <if test="ingredientId != null" >
        ingredient_id,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="maxCopies != null" >
        max_copies,
      </if>
      <if test="warnPercent != null" >
        warn_percent,
      </if>
      <if test="boxGroupId != null" >
        box_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="boxCode != null" >
        #{boxCode,jdbcType=INTEGER},
      </if>
      <if test="machineCode != null" >
        #{machineCode,jdbcType=VARCHAR},
      </if>
      <if test="geoHashcode != null" >
        #{geoHashcode,jdbcType=VARCHAR},
      </if>
      <if test="ingredientId != null" >
        #{ingredientId,jdbcType=BIGINT},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="maxCopies != null" >
        #{maxCopies,jdbcType=INTEGER},
      </if>
      <if test="warnPercent != null" >
        #{warnPercent,jdbcType=REAL},
      </if>
      <if test="boxGroupId != null" >
        #{boxGroupId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hema.newretail.backstage.entry.IngredientBox" >
    update base_ingredient_box
    <set >
      <if test="boxCode != null" >
        box_code = #{boxCode,jdbcType=INTEGER},
      </if>
      <if test="machineCode != null" >
        machine_code = #{machineCode,jdbcType=VARCHAR},
      </if>
      <if test="geoHashcode != null" >
        geo_hashcode = #{geoHashcode,jdbcType=VARCHAR},
      </if>
      <if test="ingredientId != null" >
        ingredient_id = #{ingredientId,jdbcType=BIGINT},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="maxCopies != null" >
        max_copies = #{maxCopies,jdbcType=INTEGER},
      </if>
      <if test="warnPercent != null" >
        warn_percent = #{warnPercent,jdbcType=REAL},
      </if>
      <if test="boxGroupId != null" >
        box_group_id = #{boxGroupId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hema.newretail.backstage.entry.IngredientBox" >
    update base_ingredient_box
    set box_code = #{boxCode,jdbcType=INTEGER},
      machine_code = #{machineCode,jdbcType=VARCHAR},
      geo_hashcode = #{geoHashcode,jdbcType=VARCHAR},
      ingredient_id = #{ingredientId,jdbcType=BIGINT},
      duration = #{duration,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      max_copies = #{maxCopies,jdbcType=INTEGER},
      warn_percent = #{warnPercent,jdbcType=REAL},
      box_group_id = #{boxGroupId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>